<!doctype html>

<title>Blog</title>

<script>
window.fluxData = <%- serializedFlux %>;
</script>
<div id="app-container"><%- reactMarkup %></div>

<script src="/js/vendor.bundle.js"></script>
<script src="/js/app.bundle.js"></script>